<div style="float:right;margin-left:10px;margin-top:8px">
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://triangletech.herokuapp.com/" data-text="triangletech is the most comprehensive event calendar for triangle startup and tech meetings" data-via="_jw2013" data-size="large">Tweet</a>
</div>

<div style="float:right;margin-top:12px">
  ranked as #1 resource in Durham startup ecosystem by <a href="http://www.bullcitystartups.com/">bullcitystartups</a> 
</div>

<ul>
<%= calendar @events do |event| %>
  <li>
    <%= link_to "#{event.title} [#{event.organizer}]", event %>
  </li>
<% end %>
</ul>

<p id="add_event_link"><%= link_to "Add a new event", new_event_path %></p>