.calendar td { height: 100px; width: 14.28%; }

ul li:before {
   content: "•";
   margin-right:3px;
   margin-left:3px;
   float:left;
   font-size: 350%;
}

.container {
	width: 60%;
	margin-left: 20%;
	margin-top: 50px;
}

#add_event_link {
	margin-left: 30px;
	display: inline-block;
}

footer {
    margin: 20px 0;
}

#suggestion_email {
	float: right;
}

textarea {
	width: 100%;
}